@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900|Quicksand');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', 'Quicksand';
}

#page {
    background-color: #DAE1E7;
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow-x: hidden;
}

#container {
    padding: 0;
    height: 100%;
}

.row {
    margin: 0 -15px;
    padding: 15px
}

a {
    outline: none;
}

nav {
    position: relative;
    text-align: right;
    padding: 15px 5px;
    /* width: 100%; */
    font-size: 15px;
    margin: 15px 10px;
}

nav ul li {
    display: inline-block;
    text-align: right;
    padding: 0 12px;
}

nav ul li a{
    outline: none;
    color: #22292F;
}

nav ul li a:active {
    font-weight: 700 !important;
}

nav ul li a:hover, nav ul li a:focus {
    color: #CC1F1A !important;
}


.logo {
    position: relative;
    font-family: 'Montserrat','Quicksand';
    font-weight: 900;
    padding: 15px 15px;
    float: left;
    margin: 15px 5px;
}

 
a, a:focus, a:active, a:hover {
    outline: none;
    text-decoration: none;
    color: #22292F;
}

#header-text {
    background-color: #DAE1E7;
    position: relative;
    width: 100%;
    height: 50vh;
    margin: 0 20px;
}
 
header h1 {
    font-size: 50px;
    font-weight: 500;
    padding: 25vh 0 20px 0;
}

.btn {
    border: 2px solid #606F7B;
    border-radius: 7%;
    padding: 12px 20px;
}

.btn a {
    font-size: 15px;
    padding: px 20px;
    margin: 15px;
    text-align: center;
}

.btn:hover {
    background-color: #CC1F1A;
    border: none;
    color: #fff;
    z-index: 10;
    box-shadow: #22292F;
}

#active {
    color: #12283A ;
}

.work {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.work h1 {
    padding: 15px 20px;
    font-size: 18px;
    color: #22292F;
}

.work-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    min-width: 100px;
    height: 100%;
    padding: 0 15px;
}

.work-description {
    text-align: left;
    position: relative;
    padding: 10px;
}

.work-description h3 {
    font-size: 14px;
}

.work-description p {
    font-size: 14px;
    padding: 10px 0;
}

.work-description .tag {
    color: #B8C2CC;
    font-style: normal;
    font-size: 13px;
    padding: 2px 0 0 0;
}

.tile {
    position: relative;
    margin: 0 auto;
    width: 30%;
    background-color: #F1F5F8; 
    padding-bottom: 5px;
    max-height: 700px; 
    padding-bottom: 20px; 
}

.tile img {
    width: 100%;
    height: 100%;
}

.work a .tile:hover {
    z-index: 10;
    box-shadow: 1px 1px 10px 6px #B8C2CC;
    background-color: #E3342F;
    color: #fff;
}

.tile-1, .tile-2, .tile-3 {
    float: left;
    margin: 18px 17px;
    
}

.about {
    margin: auto;
    padding: 30px;
    text-align: center;
    position: relative;
    top: 55vh;
}

.about p {
    padding: 30px 0;
    font-size: 15px;
    line-height: 28px;
}

.about a {
    border: 2px solid #606F7B;
    border-radius: 7%;
    padding: 10px 20px;
    font-size: 15px;
    margin: 10px 12px;
    text-align: center;
}

.about .btn-other {
    padding-top: 20px;
}

.about a:hover {
    background-color: #CC1F1A;
    border: none;
    color: #fff;
    z-index: 10;
    box-shadow: #22292F;
}

.header-bar {
    height: 50vh;
    width: 100%;
    background-color: #8795A1;
    background-image: url('https://images.unsplash.com/photo-1494049694820-92a3163b10ad?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3c65a3c5ece6aa00868a811993ac7ef5&auto=format&fit=crop&w=1444&q=80');
    position: absolute;
}

.profile-picture {
    margin: 0 auto;
    width: 160px;
    position: relative;
    height: 30px;
    align-items: center;    
}

.profile-picture img {
    width: 140px;
    border: 5px solid rgb(0, 0, 0, 0.4);
    border-radius: 2%;
    position: relative;
    top: 20px;
}

footer {
    background-color: #22292F;
    position: relative;
    width: 100%;
    height: 100px;
    clear: both;
}

footer p {
    text-align: center;
    color: #fff;
    padding: 20px;
}
